streamlit==1.29.0
ollama==0.1.0
sqlite3==2.6.0
matplotlib==3.7.1
pandas==2.0.3
tkinter==0.1.0
python-docx==0.8.11
fpdf2==2.7.4
gitpython==3.1.40
ast==2.4
logging==0.5.1.2
json==2.0.9
datetime==5.1
os==0.1.1
pathlib==1.0.1
hashlib==20081119
re==2.2.1
tempfile==3.10.0
shutil==1.7.0
